
:root{
	margin: 0;
	padding: 0;
	--primary-color: #000;
	--pink-ball-color: #ff66cc;
	--white-ball-color: #ffffff;
	--red-ball-color: #8c182b;
}

body {
	font-family: "Work Sans",monospace;
}

a{
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

// Padding css
.py-50{
	padding-top: 50px;
	padding-bottom: 50px;
}

// Margin css
.my-20{
	margin: 20px 0;
}
.mt-10{
	margin-top: 10px;
}
.mt-15{
	margin-top: 15px;
}
.mt-30{
	margin-top: 30px;
}

// Width css
.w-25{
	width: 25%;
}
.w-50{
	width: 50%;
}
.w-100{
	width: 100%;
}


// Toast notification customization
.Vue-Toastification__container {
	@media (max-width: 600px) {
		left: 150px !important;
	}
	@media (max-width: 431px) {
		left: 95px !important;
	}
	@media (max-width: 396px) {
		left: 65px !important;
	}
	@media (max-width: 376px) {
		left: 35px !important;
	}
}
.Vue-Toastification__container{
	z-index: 99999 !important;
}
.Vue-Toastification__toast{
	// height: 35px;
	padding: 15px 24px;
	@media (max-width: 600px) {
		width: 70%!important;
		min-height: 40px!important;
		padding: 10px 24px!important;
	}
}
.Vue-Toastification__toast--info{
	border-radius: 45px !important;
}
.Vue-Toastification__toast--success{
	background-color: #323448 !important;
	border-radius: 45px !important;
}
.Vue-Toastification__toast--error{
	background: rgba(253, 13, 0, 0.8)!important;
	border-radius: 45px !important;
}
.Vue-Toastification__toast-body {
	font-size: 14px;
	@media (max-width: 600px) {
		font-size: 12px !important;
	}
	@media (max-width: 431px) {
		font-size: 11px !important;
	}
}



.github-fork-ribbon.fixed {
	position: fixed;
}
.github-fork-ribbon {
	width: 12.1em;
	height: 12.1em;
	overflow: hidden;
	top: 0;
	right: 0;
	z-index: 99999;
	pointer-events: none;
	font-size: 13px;
	text-decoration: none;
	text-indent: -999999px;
}
.github-fork-ribbon:before {
	content: "";
	padding: 0.38em 0;
	background-color: #a00;
	background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.15));
	box-shadow: 0 0.15em 0.23em 0 rgba(0,0,0,.5);
	pointer-events: auto;
	position: absolute;
	display: block;
	width: 15.38em;
	height: 1.54em;
	top: 3.23em;
	right: -3.23em;
	box-sizing: content-box;
	transform: rotate(45deg);
}
.github-fork-ribbon:after {
	content: attr(data-ribbon);
	color: #fff;
	font: 700 1em "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.54em;
	text-decoration: none;
	text-shadow: 0 -0.08em rgba(0,0,0,.5);
	text-align: center;
	text-indent: 0;
	padding: 0.15em 0;
	margin: 0.15em 0;
	border-color: #fff;
	border-color: hsla(0,0%,100%,.7);
	border-style: dotted;
	border-width: 0.08em 0;
	position: absolute;
	display: block;
	width: 15.38em;
	height: 1.54em;
	top: 3.23em;
	right: -3.23em;
	box-sizing: content-box;
	transform: rotate(45deg);
}

